@font-face {
    font-family: "Didot";
    src: url("/fonts/didot_bold.otf");
}

body {
    font: 18px/24px "Didot", sans-serif;
    color: #A0A0A0;
}

header {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;

    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;

    background: #333741;
}

.navlink {
    padding-left: 10px;
}

.page-analyzer:hover,
.sites:hover {
    color: #E0E0E0;
}
